torch==2.2.2
torchvision==0.17.2
torchaudio==2.2.2
torchtext==0.17.2
jsonlines
beautifulsoup4
matplotlib
hydra-core
hydra_colorlog
apted
Distance
lxml==4.9.3
torchmetrics
wandb
einops
ptflops
tokenizers
pycocotools
faster-coco-eval
